@charset "UTF-8";

img {
  max-width: 100%;
}

.site-title {
  width: 120px;
  line-height: 1px;
  padding: 10px 10px;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 100px;
  padding: 0 4%;
  text-align: center;
}

li {
  list-style: none;
}

.section-title {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 100px;
  padding: 0 4%;
  text-align: center;
}

.content-title {
  font-size: 1rem;
  margin: 10px 0;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  margin-bottom: 80px;
}
#mainvisual img {
  width: 100%;
  height: auto;
  display: block;
  /* width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover; */
}

#mainvisual .overlay-img {
  position: absolute;
  top: 50px;   /* 上からの距離 */
  right: 10px;  /* 左からの距離 */
  /* width: 200px;  固定サイズ */
  width: 30vw;        /* 画面の30% */
  min-width: 200px;   /* 最低幅300px */
  height: auto;
  z-index: 20;
}


/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-start; */
  align-items: center;
  margin: 0 auto;
}
#header ul {
  display: flex;
  padding: 10px 0;
}
#header li {
  margin-left: 30px;
}
#header li a {
  color: #24292e;
}
#header li a:hover {
  opacity: 0.7;
}

/*-------------------------------------------
About
-------------------------------------------*/
#about .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}

#about .text {
  text-align: left;
}
  /*-------------------------------------------
  About
  -------------------------------------------*/
  /* #about .content {
    flex-direction: column;
  } */

@media screen and (max-width: 600px) {

  /*-------------------------------------------
  Mainvisual
  -------------------------------------------*/
  /* #mainvisual img {
    height: calc(100vh - 60px);
  } */

  /*-------------------------------------------
  About
  -------------------------------------------*/
  #about .content {
    flex-direction: column;
  }
  #about img {
    margin-right: 0;
  }

  /*-------------------------------------------
  Bicycle
  -------------------------------------------*/
  #bicycle ul {
    flex-direction: column;
  }
  #bicycle li {
    width: 100%;
    margin-bottom: 30px;
  }
}